nav {
  height: 60px;
  background-color: #59bfba;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  align-items: center;
}

.navlink {
  display: flex;
  align-items: center;
}
