.group-page {
  /*height: 90%;*/
  /*display: flex;
  flex-direction: column;*/
}

.group-page-name {
  /*display: flex;
  justify-content: center;*/
  /*margin-top: 3%;*/
}

.group-page-people {
  /*display: flex;
  justify-content: space-around;*/
  /*margin-top: 2%;*/
}

.group-page-person {
  /*display: flex;
  flex-direction: column;*/
}

.group-page-img {
  /*height: 30px;
  width: 30px;
  border-radius: 50%;*/
}

.group-page-results {
  /*height: 90%;*/
  border: solid black 2px;
  /*display: flex;
  justify-content: flex-start;*/
  margin-top: 1px;
}

.group-page-places {
  /*width: 30%;
  height: 100%;*/
}

.group-page-map {
  /*width: 70%;
  height: 100%;*/
  /*border-left: solid black 2px;*/
}
